/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/git_toolbox_blame.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/Qwen3-ASR-GGUF.iml
/.idea/vcs.xml
/models/Qwen3-ASR-0.6B/.msc
/models/Qwen3-ASR-0.6B/.mv
/models/Qwen3-ASR-0.6B/chat_template.json
/models/Qwen3-ASR-0.6B/config.json
/models/Qwen3-ASR-0.6B/configuration.json
/models/Qwen3-ASR-0.6B/generation_config.json
/models/Qwen3-ASR-0.6B/merges.txt
/models/Qwen3-ASR-0.6B/model.safetensors
/models/Qwen3-ASR-0.6B/preprocessor_config.json
/models/Qwen3-ASR-0.6B/README.md
/models/Qwen3-ASR-0.6B/tokenizer_config.json
/models/Qwen3-ASR-0.6B/vocab.json
/models/Qwen3-ASR-1.7B/.msc
/models/Qwen3-ASR-1.7B/.mv
/models/Qwen3-ASR-1.7B/chat_template.json
/models/Qwen3-ASR-1.7B/config.json
/models/Qwen3-ASR-1.7B/configuration.json
/models/Qwen3-ASR-1.7B/generation_config.json
/models/Qwen3-ASR-1.7B/merges.txt
/models/Qwen3-ASR-1.7B/model.safetensors.index.json
/models/Qwen3-ASR-1.7B/model-00001-of-00002.safetensors
/models/Qwen3-ASR-1.7B/model-00002-of-00002.safetensors
/models/Qwen3-ASR-1.7B/preprocessor_config.json
/models/Qwen3-ASR-1.7B/README.md
/models/Qwen3-ASR-1.7B/tokenizer_config.json
/models/Qwen3-ASR-1.7B/vocab.json
/models/Qwen3-ForcedAligner-0.6B/.msc
/models/Qwen3-ForcedAligner-0.6B/.mv
/models/Qwen3-ForcedAligner-0.6B/chat_template.json
/models/Qwen3-ForcedAligner-0.6B/config.json
/models/Qwen3-ForcedAligner-0.6B/configuration.json
/models/Qwen3-ForcedAligner-0.6B/generation_config.json
/models/Qwen3-ForcedAligner-0.6B/merges.txt
/models/Qwen3-ForcedAligner-0.6B/model.safetensors
/models/Qwen3-ForcedAligner-0.6B/preprocessor_config.json
/models/Qwen3-ForcedAligner-0.6B/README.md
/models/Qwen3-ForcedAligner-0.6B/tokenizer_config.json
/models/Qwen3-ForcedAligner-0.6B/vocab.json
/qwen_asr_gguf/bin/ggml.dll
/qwen_asr_gguf/bin/ggml-base.dll
/qwen_asr_gguf/bin/ggml-cpu-alderlake.dll
/qwen_asr_gguf/bin/ggml-cpu-cannonlake.dll
/qwen_asr_gguf/bin/ggml-cpu-cascadelake.dll
/qwen_asr_gguf/bin/ggml-cpu-cooperlake.dll
/qwen_asr_gguf/bin/ggml-cpu-haswell.dll
/qwen_asr_gguf/bin/ggml-cpu-icelake.dll
/qwen_asr_gguf/bin/ggml-cpu-ivybridge.dll
/qwen_asr_gguf/bin/ggml-cpu-piledriver.dll
/qwen_asr_gguf/bin/ggml-cpu-sandybridge.dll
/qwen_asr_gguf/bin/ggml-cpu-sapphirerapids.dll
/qwen_asr_gguf/bin/ggml-cpu-skylakex.dll
/qwen_asr_gguf/bin/ggml-cpu-sse42.dll
/qwen_asr_gguf/bin/ggml-cpu-x64.dll
/qwen_asr_gguf/bin/ggml-cpu-zen4.dll
/qwen_asr_gguf/bin/ggml-rpc.dll
/qwen_asr_gguf/bin/ggml-vulkan.dll
/qwen_asr_gguf/bin/libomp140.x86_64.dll
/qwen_asr_gguf/bin/llama.dll
/qwen_asr_gguf/bin/llama-batched-bench.exe
/qwen_asr_gguf/bin/llama-bench.exe
/qwen_asr_gguf/bin/llama-cli.exe
/qwen_asr_gguf/bin/llama-completion.exe
/qwen_asr_gguf/bin/llama-fit-params.exe
/qwen_asr_gguf/bin/llama-gemma3-cli.exe
/qwen_asr_gguf/bin/llama-gguf-split.exe
/qwen_asr_gguf/bin/llama-imatrix.exe
/qwen_asr_gguf/bin/llama-llava-cli.exe
/qwen_asr_gguf/bin/llama-minicpmv-cli.exe
/qwen_asr_gguf/bin/llama-mtmd-cli.exe
/qwen_asr_gguf/bin/llama-mtmd-debug.exe
/qwen_asr_gguf/bin/llama-perplexity.exe
/qwen_asr_gguf/bin/llama-quantize.exe
/qwen_asr_gguf/bin/llama-qwen2vl-cli.exe
/qwen_asr_gguf/bin/llama-results.exe
/qwen_asr_gguf/bin/llama-server.exe
/qwen_asr_gguf/bin/llama-template-analysis.exe
/qwen_asr_gguf/bin/llama-tokenize.exe
/qwen_asr_gguf/bin/llama-tts.exe
/qwen_asr_gguf/bin/mtmd.dll
/qwen_asr_gguf/bin/rpc-server.exe
